body, html {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
.bg-yellow {
  background-color: #fee187;
}
.d-flex {
  display: flex;
}
.f-j-sb {
  justify-content: space-between;
}
.f-a-center {
  align-items: center;
}
.f-as-start {
  align-self: flex-start;
}
.p-0-20 {
  padding: 0px 20px;
}
.p-10-20 {
  padding: 10px 20px;
}
.p-10 {
  padding: 30px;
}
.p-20 {
  padding: 20px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-0 {
  margin: 0px;
}
.ltr {
  direction: ltr;
}
.f-s-11 {
  font-size: 11px;
}
.f-s-16 {
  font-size: 16px;
}
.m-r-10 {
  margin-right: 10px;
}
.f-dir-column {
  flex-direction: column;
}
.o-54 {
  opacity: .54;
}
.b-t-1 {
  border-top: 1px solid #dbdbdb;
}
.b-b-1 {
  border-bottom: .5px solid #c2c2c2;
}
.border-radius-50per {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.bg-green {
  background: linear-gradient(#97EB88, #5ACC5A);
}
.color-green {
  color: #008a00;
}
.bg-grayblue {
  background: linear-gradient(#DCE3E5, #97B5BF);
}
.bg-orangered {
  background: linear-gradient(#FF8A80, #FF4A4A);
}
.color-orangered {
  color: #ee0000;
}
.w75 {
  width: 75px;
}
.h75 {
  height: 75px;
}
.f-j-center {
  justify-content: center;
}
.blur-0 {
  filter: blur(0px);
}
.blur-4 {
  filter: blur(4px);
}
.blur-5 {
  filter: blur(5px);
}
.blur-3 {
  filter: blur(3px);
}
.blur-6 {
  filter: blur(6px);
}
.transition-quarter {
  transition: all .25s ease-in-out;
}
.transition-3 {
  transition: all 3s ease-in-out;
}
.transition-4 {
  transition: all .35s ease-in-out;
}
.d-block {
  display: block;
}
.will-change-filter {
  will-change: filter;
}
.will-change-tranform {
  will-change: transform;
}
.translate-x-100per {
  transform: translateX(-100%);
}
.m-r-87 {
  margin-right: 87px;
}
.m-r-58 {
  margin-right: calc(48px + 10px);
}
.w-100vw {
  width: 100vw;
}
.h-100vh {
  height: 100vh;
}
.w-100per {
  width: 100%;
}
.h-100per-minus-85 {
  height: calc(100% - 85px);
}
.h-100per {
  height: 100%;
}
.w-75per {
  width: 75%;
}
.w-180per {
  width: 180%;
}
.h-1 {
  height: 1px;
}
.bg-lightgray {
  background-color: #CFCEC3;
}
.round {
  border-radius: 50%;
}
.pos-rltv {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.b-radius-4 {
  border-radius: 4px;
}
.h-3 { 
  height: 3px;
}
.h-9 { 
  height: 9px;
}
.w-100 {
  width: 100px;
}
.w-75 {
  width: 75px;
}
.pos-fixed {
  position: fixed;
}
.bottom-15 {
  bottom: 15px;
}
.overflow-y-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.main-view-height {
  height: calc(100vh - 85px);
}
.bg-choices-gradient {
  background-color: #F6F6F6;
}
.bottom-0 {
  bottom: 0px;
}
.choice-shadow {
  box-shadow: 0px 1.8px 2px rgb(132, 132, 132);
}
.choice-border {
  border-top: 0.1px solid rgba(255, 255, 255, 0.5);
}
.h-115 {
  height: 115px;
}
.h-85 {
  height: 85px;
}
.h-84 {
  height: 84px;
}
.h-45 {
  height: 45px;
}
.remove-focus-hightlight:focus,
.remove-focus-hightlight:active,
.remove-focus-hightlight:hover {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.f-s-1n2em {
  font-size: 1.2em;
}
.m-t-65 {
  margin-top: 65px;
}
.outline-none {
  outline: none;
}
#yes[aria-disabled=true] {
  background: #CFCEC3;
}
#dontKnow[aria-disabled=true] {
  background: #CFCEC3;
}
#no[aria-disabled=true] {
  background: #CFCEC3;
}
.w-max-600 {
  max-width: 600px;
}
.m-rl-auto {
  margin-right: auto;
  margin-left: auto;
}
.r-50per {
  right: 50%;
}
.translateX-50per {
  transform: translateX(50%);
}

@media (min-width: 663px) {
  .x-f-s-2em {
    font-size: 2em;
  }
}
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-wait {
  cursor: wait;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.color-blue {
  color: blue;
}
.h-7 {
  height: 7px;
}
.right-0 {
  right: 0px;
}
.right-100per {
  right: 100%;
}
.translate-y-100per {
  transform: translateY(100%);
}
.f-w-bold {
  font-weight: bold;
}